@model C1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

@*Displaying teacher information against selected teacher *@

 @*navigation  *@
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.Teacherid">Delete</a>
        <a class="dellink" href="/Teacher/Ajax_New_Delete/@Model.Teacherid">Delete ajax</a>
        <a class="navlink" href="/Teacher/Update/@Model.Teacherid">Update</a>
    </nav>

    <h2>Show Teacher</h2>
    @*Show teacher First name and last name*@
    <div>
        <strong> Teacher Full Name: </strong> @Model.TeacherFname @Model.TeacherLname
    </div>
    @*Show teacher Employee number*@
    <div>
        <strong> Employee Number: </strong>@Model.Employeenumber
    </div>
    @*Show teacher Hiredate*@
    <div>
        <strong> Hire Date: </strong>@Model.Hiredate.ToString("dd-MMM-yyyy")
    </div>
    @*Show teacher Salary*@
    <div>
        <strong> Salary: CAD </strong> @Model.Salary
    </div>
    @*Show teacher ClassName *@
    <div>
        <strong> Classes: </strong>
        <ul>
            @foreach (var className in Model.ClassName)
            {
                <li>@className</li>
            }
        </ul>
    </div>
    @*Error handling *@

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <label style="color: red;">@ViewBag.ErrorMessage</label>
    }
    else if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <label style="color: green;">@ViewBag.SuccessMessage</label>
    }
</div>

